.geolocations__suggestions-wrapper {
    position: relative;
}
.geolocations__suggestions-wrapper .spinner {
    position: absolute;
    top: 25px;
    right: -6px;
}
.geolocations__suggestions-item {
    padding-block: 10px;
}
.geolocations__suggestions-item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
.geolocations__suggestions-item + .geolocations__suggestions-item {
    border-top: 1px solid #e0e0e0;
}
