.geolocations__copy-address{
	border-bottom: 1px solid #efefef;
	margin-bottom:15px;
	padding-bottom: 15px;


	.ui-menu .ui-menu-item.copy-address__item{
		padding: 5px 2px;
		white-space: normal;
	}
	.copy-address__item--id{
		display: none;
		font-style: italic;
	}
	.copy-address__item--title{
		display: block;
		white-space: normal;
		font-size: 12px;
		font-weight: bold;
	}
	.copy-address__item--info{
		font-size: 12px;
	}
	.ui-widget-content .ui-state-focus{
		border:none;
		background: #efefef;
	}
}
